* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* html, body {
    height: 100%;
    min-width: 100%;
} */
.main {
    height: 100%;
    width: 100%;
    right: 0;
}
.main.active {
    right: 300px;
}

.information header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo {
    text-transform: uppercase;
    cursor: pointer;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.7rem;
}
.toggle {
    position: relative;
    cursor: pointer;
    filter: invert(1);
    width: 60px;
    height: 60px;;
    background-image: url("images/menu.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

.toggle.active {
    filter: invert(1);
    background-image: url("images/close.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}
.information {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    z-index: 2;
    transition: 0.5s;
}
.information.active {
    right: 300px;
}
.information video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
#menu {
    font-size: 40px;
}
.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul {
    position: relative;
    list-style: none;
    transition: 0.2s;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    font-size: 1.7rem;
    color: #111;
    transition: all 0.2s;
    line-height: 2em;
}

.menu ul li a:hover {
    color: #ff8177;
    transform: scale(1.1);
}
/* #overWhite {
    position: absolute;
    left: 0;
    width: 60%;
    height: 100vh;
    background-color: white;
}
.triangle {
    width: 200px;
    height: 100vh;
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #a48d01 50%, #a48d01 100%);
    position: absolute;
} */
/* #circle {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: .5s;
    position: absolute;
} */
/*.feature img {
    width: 70px;
}
.feature {
    position: absolute;
    display: flex;
    color: #fff;
}
.feature div {
    margin-left: 30px;
}
.feature div p{
    margin-top: 8px;
}
.one {
    position: absolute;
    right: -100px;
    top: 45%;
}
.two {
    position: absolute;
    top: 0%;
    left: 35%;
    transform: rotate(-90deg);
}
.three {
    position: absolute;
    top: 45%;
    left: -100px;
    transform: rotate(180deg);
}
.four {
    position: absolute;
    bottom: 0%;
    left: 32%;
    transform: rotate(-270deg);
} */
#bod {
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 0px;
    align-items: center;
}
.feature img {
    width: 70px;
}
.feature {
    display: flex;
    color: #fff;
    transition: 0.5s;
}
.feature div {
    margin-left: 30px;
}
.feature div p{
    margin-top: 8px;
}
/* .feature.fade {
    opacity: 0;
} */
/* #circle {
    width: 50%;
    height: 10;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: .5s;
    position: absolute;
    background-color: white;
} */
.two {
    display: none;
}
.three {
    display: none;
}
.four {
    display: none;
}
.mobile {
    width: 600px;
    top: 20%;
    left: 8%;
    z-index: 1;
}
.controls {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1000;
}
.controls h3 {
    margin: 30px 0;
    color: #fff;
    font-size: 2rem;
}
#upBtn {
    width: 20px;
    cursor: pointer;
}
#downBtn {
    width: 20px;
    cursor: pointer;
    transform: rotate(180deg);
}

.overlay {
    width: 0;
    height: 0;
    border-right: 70vh solid transparent;
    border-top: 50vh solid white;
    border-left: 20vw solid white;
    border-bottom: 50vh solid white;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}
@media (max-width: 450px) {
    .information header {
        padding: 40px;
    }
    #bod {
        min-width: 100%;
    }
    .overlay {
        width: 0;
        height: 0;
        border-right: 35vh solid transparent;
        border-top: 50vh solid white;
        border-left: 20vw solid white;
        border-bottom: 50vh solid white;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }
    .mobile {
        width: 40%;
    }
    .controls {
        position: absolute;
        right: 50vw;
        top: 40vh;
        text-align: center;
        z-index: 1000;
    }
    .controls h3 {
        margin: 10px 0;
        color: black;
        font-size: 1rem;
    }
    #upBtn {
        width: 10px;
        cursor: pointer;
        filter: invert(1);
    }
    #downBtn {
        width: 10px;
        cursor: pointer;
        transform: rotate(180deg);
        filter: invert(1);
    }
    .feature img {
        width: 40px;
    }
    .feature {
        display: flex;
        color: #fff;
        transition: 0.5s;
    }
    .feature div {
        margin-left: 10px;
        font-size: 0.8rem;
    }
    .feature div p{
        font-size: 0.7rem;
        margin-top: 8px;
    }
    .two {
        display: none;
    }
    .three {
        display: none;
    }
    .four {
        display: none;
    }
    .menu {
        width: 200px;
    }
    .information.active {
        right: 200px;
    }
    .information {
        width: 100vw;
    }
}
